@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --app-theme: #a3c1ad;
    --app-theme-hover: #75a284;
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}